h1 {
    text-align: center;
}
h2 {
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
#calculations {
    width: 30%;
    margin: auto;
}
#input {
    width: 100%;
    margin: auto;
    padding-left: 450px;
}
select {
    height: fit-content;
    position: relative;
    top: 5px;
}
